<table>
	<% @tweets.each do |tweet| %>
	<tr>
		<td><%= attachment_image_tag tweet.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'70x70' %></td>
		<td><%= link_to tweet.user.name, user_path(tweet.user) %></td>
		<td><%= tweet.body %></td>
	</tr>
	<% end %>
</table>